.modal {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
  background-color: #ffffff;

  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.modal .header {
  background-color: #4299e1;
  padding: 0.75rem;
  color: #eeeeee;
}

.modal .body {
  padding: 0.75rem;
}

.modal .actions {
  padding: 0.75rem;
  text-align: right;
}

.modal .actions button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 6px 14px;
  font-size: 14px;
  border-bottom: 4px solid #2b6cb0;
  font-weight: 700;
  color: white;
  line-height: 26px;
}

.modal .actions button:hover {
  opacity: 0.9;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.45);
}
